@font-face {
    font-family: Bebas;
    src: url(../fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Josefin;
    src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

img,
video {
    max-width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-height: 667px;
    max-width: 375px;
    font-family: Josefin;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    background-size: 375px 667px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../img/achtergrond_wisselboetiek_gradient.png);
}

header {
    font-family: Bebas;
    display: flex;
    margin-top: 0.7em;
    margin-bottom: 1em;
}

main {
    flex-grow: 1;
    justify-content: center;
    padding: 0.7em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.75);
    max-height: 667px;
    max-width: 375px;
    padding: 0.4em;
    padding-bottom: 1.5em;
}


.teal {
    background-color: rgba(5, 217, 178, 0.95);
    padding: 0.4em;
    border-radius: 0.8em;
    margin-top: 0.2em;
}

.orange {
    background-color: rgba(240, 68, 5, 0.95);
    padding: 0.4em;
    border-radius: 0.8em;
}

.pink {
    background-color: rgba(242, 145, 208, 0.95);
    padding: 0.4em;
    margin-top: 0.2em;
    border-radius: 0.8em;
}

.adres {
    font-size: 0.7em;
}

.openingstijden {
    font-size: 0.7em;
}

.index1 {
    width: 50%;
}

.index2 {
    width: 50%;
    font-size: 1.2em;
}

.row {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}



h1 {
    font-family: Bebas;
}

h2 {
    margin: 0.3em;
    font-family: Bebas;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.5em;
    font-family: Bebas;
}

ul {
    list-style: none;
}

li {
    padding: 0.08em;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}


.orange a:hover {
    color: #F2AE2E;
}

.teal,
a:hover {
    color: rgb(50, 58, 217);
}

.pink a:hover {
    color: #F24405;
}

.navbar {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 1em;
}

.bar {
    max-width: 15%;
    margin-left: 1.4em;
    padding: 0.2em;
}

.artikel {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;

}

.artikel h1 {
    font-size: 2em;
}

.artikel h2 {
    margin: 0em;
}

.geel {
    background-color: rgba(243, 161, 214, 0.85);
    padding: 1.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;

}

.punten {
    margin: 1em;
    margin-top: 0em;
    padding: 1.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    list-style: disc;
    font-size: 0.7em;
    background-color: rgba(242, 173, 44, 0.90);
}

.werkt {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1.5em;
    padding-bottom: 2em;
    margin-bottom: 2em;
}


/* 
blue = rgb(50, 58, 217)
pink = rgb(242, 145, 208)
orange = F24405
yellow = F2AE2E
  background-image: url(../img/achtergrond_wisselboetiek3.png);
background-image: url(../img/achtergrond_wisselboetiek3.png);
*\